<% layout('layouts/generic') %>
<div class="col-6 offset-3">
  <h1>Saved Addresses</h1>

  <h2>Home</h2>
  <div class="card mb-3">
    <div class="row">
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title"><%= homeAddr.first_name %> <%= homeAddr.last_name %></h5>
          <h6 class="card-subtitle mb-2"><%= homeAddr.street_num %> <%= homeAddr.street_name %></h6>
          <h6 class="card-subtitle mb-2"> <%= homeAddr.city %> <%= homeAddr.state_id %> <%= homeAddr.zipcode %></h6>
        </div>
      </div>
    </div>
  </div>

  <h2>Billing</h2>
  <div class="card mb-3">
    <div class="row">
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title"><%= billingAddr.first_name %> <%= billingAddr.last_name %></h5>
          <h6 class="card-subtitle mb-2"><%= billingAddr.street_num %> <%= billingAddr.street_name %></h6>
          <h6 class="card-subtitle mb-2"><%= billingAddr.city %> <%= billingAddr.state_id %> <%= billingAddr.zipcode %></h6>
        </div>
      </div>
    </div>
  </div>

</div>
