<% layout('layouts/generic') %>
<div class="col-6 offset-3">
  <h1>Saved Addresses</h1>

  <h2>Home</h2>
  <div class="card mb-3">
    <div class="row">
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title"><%= homeAddr.name %></h5>
          <h6 class="card-subtitle mb-2"><%= homeAddr.streetInfo %></h6>
          <h6 class="card-subtitle mb-2"> <%= homeAddr.zipcodeInfo %></h6>
        </div>
      </div>
    </div>
  </div>

  <h2>Billing</h2>
  <div class="card mb-3">
    <div class="row">
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title"><%= billAddr.name %></h5>
          <h6 class="card-subtitle mb-2"><%= billAddr.streetInfo %></h6>
          <h6 class="card-subtitle mb-2"> <%= billAddr.zipcodeInfo %></h6>
        </div>
      </div>
    </div>
  </div>

</div>
