<% layout('layouts/generic') %>
<div class="col-10 offset-1 mb-3">
  <div class="row border">
    <div class="col-8">
      <h2 class="card-title"><%= listing.title %></h5>
      <p>Seller: <%= listing.sellerEmail %></p>
      <p>Rating: <%= sellerRating ? sellerRating : 'Unrated'%></p>
      <p>Description: <%= listing.productDesc %></p>
      <p>Price: $<%= listing.price %></p>
      <p>In Stock: <%= listing.quantity %></p>
      <% if (listing.postDate) { %>
        <p>Posted on: <%= listing.postDate %></p>
      <% } %>
      <p>Shop more listings in <a href="/marketplace/<%= listing.category %>"><%= listing.category %></a></p>
    </div>
    <div class="col-4">
      <form action="/cart" method="POST">
        <input type="hidden" name="listingId", value="<%= listing.listingId %>">
        <div class="form-input mt-2 mb-2 col-3">
          <label class="form-label" for="quantity">Quantity</label>
          <input type="text" class="form-control" id="quantity" name="quantity" placeholder="1">
        </div>
        <button class="btn btn-primary">Add to cart</button>
      </form>
    </div>
  </div>
</div>


<div class="col-10 offset-1">
    <h2>Reviews</h2>
    <% if (reviews) { %>
      <% for (let review of reviews) {%>
        <div class="card mb-3">
          <div class="row">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= review.desc %></h5>
                <h6 class="card-subtitle mb-2 text-muted">By: <%= review.buyerEmail %></h6>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    <% } %>
  </div>
</div>
