<% layout('layouts/generic') %>
<div class="col-6 offset-3">
  <h1>My Cards</h1>
  <ul>
    <li>Holder: <%= card.first_name %> <%= card.last_name %></li>
    <li>CCN: <%= card.ccn %></li>
    <li>Brand: <%= card.brand %></li>
    <li>Expiration Date: <%= card.exp_month %>/<%= card.exp_year %></li>
  </ul>
</div>

