<% layout('layouts/generic') %>
<div class="col-6 offset-3">
  <h1>My Profile</h1>
  <ul>
    <li>Name: <%= profile.first_name %> <%= profile.last_name %></li>
    <li>Email: <%= profile.email %> </li>
    <li>Age: <%= profile.age %></li>
    <li>Gender: <%= profile.gender %></li>
    <li><a href="/change_password">Change my password</a></li>
  </ul>
</div>


