<% layout('layouts/generic') %>
<div class="col-6 offset-3">
  <h1>My Profile</h1>
  <ul>
    <li>Name: <%= firstName %> <%= lastName %></li>
    <li>Email: <%= email %> </li>
    <li>Age: <%= age %></li>
    <li>Gender: <%= gender %></li>
    <li><a href="/change_password">Change my password</a></li>
  </ul>
</div>


